.jumbotron {
    text-align: center; 
    background-image: url(img/gabagoo3.jpg);
    background-size: contain;
    color: beige;
}
img{
    height: 400px;
}
.btn {
    margin-top: 20px; margin-bottom: 20px;
}